<div class="container">
  <div class="popup">
    <div class="popup-header">
      <div class="close-icon"><fa-icon [icon]="faTimes"></fa-icon></div>
    </div>
    <div class="popup-body">
      <div>
        <div class="image"></div>
      </div>
      <div class="popup-right">
        <span class="popup-title overflow">Need Help ?</span>
        <span class="poup-text overflow">Start a live call with us now to have us attend to any of your enquiries.</span>
        <div class="popup-buttons">
          <a class="popup-main-button">Start live chat</a>
          <a class="popup-secondary-button">Request for call back</a>
        </div>
      </div>
    </div>
  </div>
</div>
